section {

  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }

  form {
    input {

      border: none;
      border-radius: 4px;
      box-shadow: 1px 1px 15px #ccc;
      padding: 10px 20px;


    }

    button {
      border-radius: 4px;
      padding: 10px 5px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #ccc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
  transition: 0.5s;

  &:hover {

    transform: scale(1.01);
  }

  button {
    border-radius: 4px;
  }

}
