<section>
  <header>
    Задачи на дату
    {{ dateService.date | async | moment: 'DD.MM.YYYY'}}
    <hr>
  </header>

  <main>
    <ul >
      <li class="task" *ngFor="let task of tasks$ | async; let i = index">
        <span>
          <strong>{{ i + 1}}</strong>
          {{ task.title }}
        </span>
        <button class="btn btn-primary" (click)="remove(task)">Удалить</button>
      </li>
    </ul>
  </main>
  <footer>
    <form *ngIf="form" (ngSubmit)="submit()" [formGroup]="form">
      <input
        type="text"
        formControlName="title"
        placeholder="Впишите задачу"
      >
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >Добавить</button>
    </form>
  </footer>
</section>
