p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;

  span {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
  }

  i {
    cursor: pointer;
  }
}
